{% include 'home.html' %}

{% block content %}
   <!-- <div class="container">
        <h3>Remaining Leaves</h3>        
            <p>Remaining Casual Leaves: {{ request.user.profile.remaining_casual_leaves }}</p>
            <p>Remaining Sick Leaves: {{ request.user.profile.remaining_sick_leaves }}</p> -->

        <!-- Apply Leave Form -->
      <!--  <form method="POST" action="{% url 'addLeave' %}">
            {% csrf_token %}
            <label for="fromDate">From Date:</label>
            <input type="datetime-local" id="fromDate" name="fromDate" required><br><br>
            <label for="toDate">To Date:</label>
            <input type="datetime-local" id="toDate" name="toDate" required><br><br>
            <label for="reason">Reason:</label>
            <select id="reason" name="reason" required>
                <option value="casual leave">Casual Leave</option>
                <option value="sick leave">Sick Leave</option>
            </select><br><br>
            <label for="comment">Comment:</label><br>
            <textarea id="comment" name="comment" rows="4" cols="50"></textarea><br><br>
            <button type="submit" class="btn btn-dark btn-lg">Apply</button>
        </form>
    </div>-->

    <div class="container">
        <h3>Remaining Leaves</h3>        
        <p>Remaining Casual Leaves: <b> {{ request.user.profile.remaining_casual_leaves }}</b></p>
        <p>Remaining Sick Leaves: <b> {{ request.user.profile.remaining_sick_leaves }}</b></p>

        <!-- Apply Leave Form -->
        <form method="POST" action="{% url 'addLeave' %}">
            {% csrf_token %}
            <div class="mb-3">
                <label for="fromDate" class="form-label"><b>From Date:</b></label>
                <input type="datetime-local" id="fromDate" name="fromDate" class="form-control form-control-dark" required>
            </div>
            <div class="mb-3">
                <label for="toDate" class="form-label"><b>To Date:</b></label>
                <input type="datetime-local" id="toDate" name="toDate" class="form-control form-control-dark" required>
            </div>
            <div class="mb-3">
                <label for="reason" class="form-label"><b>Reason:</b></label>
                <select id="reason" name="reason" class="form-select form-select-dark" required>
                    <option value="casual leave">Casual Leave</option>
                    <option value="sick leave">Sick Leave</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="comment" class="form-label"><b>Comment:</b></label>
                <textarea id="comment" name="comment" rows="4" class="form-control form-control-dark"></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-lg">Apply</button>
        </form>
    </div>
{% endblock %}
