{% load static %}   
{% include 'base.html' %}
{% block content %}

<div class="home_nav ">
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            {% if not user.is_superuser %}
            <a class="nav-link" aria-current="page" aria-selected="undefined" href="{% url 'homeContent' %}">Home</a>
            {% endif %}
        </li>
      <!--  <li class="nav-item">
            <a class="nav-link " href="{% url 'leaveManagement' %}">leave management</a>
        </li> -->
        <li class="nav-item">
            {% if not user.is_superuser %}
            <a class="nav-link" href="{% url 'leave_details' %}">Applied leaves</a>
            {% endif %}
        </li>
        <li class="nav-item">
            {% if user.is_authenticated %}
                {% if is_superuser %}
                    <a class="nav-link" href="{% url 'addemployee' %}">Add employee</a>                  
                {% endif %}
            {% endif %}
        </li>            
        <li>
            {% if user.is_authenticated %}
                {% if is_superuser %}
                    <a class="nav-link" href="{% url 'leave_content'  %}">Leave Applications</a>
                {% endif %}
            {% endif %}
        </li>
    </ul>
</div>
  {% endblock %}