{% include 'home.html' %}

    {% block content %}
    
       <!-- <b>from</b>       - {{leave_info.fromDate}} <br>
        <b>to</b>         - {{leave_info.toDate}} <br>
        <b>leave type</b> - {{leave_info.reason}} <br>
        <b>reason</b>     - {{leave_info.comment}} <br> <br>
        <h5>Current status- {{ leave_info.status }}</h5> <br><br>
        

        <form action="{% url 'approve_leave' leave_info.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">allow</button><br><br>
        </form>
        <form action="{% url 'reject_leave' leave_info.id %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button class="btn btn-secondary" type="submit">reject</button>
        </form> <br><br><br>
        
        <a href="{% url 'leave_content' %}">
            <button class="btn btn-secondary">back</button>
        </a> -->

        <div class="container mt-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><b>Name:</b> {{ leave_info.username }}</p> <br>
                    <p class="card-text"><b>From:</b> {{ leave_info.fromDate }}</p>
                    <p class="card-text"><b>To:</b> {{ leave_info.toDate }}</p>
                    <p class="card-text"><b>Leave Type:</b> {{ leave_info.reason }}</p>
                    <p class="card-text"><b>Reason:</b> {{ leave_info.comment }}</p> <br>
                    <h5 class="card-title">Current Status: {{ leave_info.status }}</h5> <br>
                    <form action="{% url 'approve_leave' leave_info.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button class="btn btn-success" type="submit">Approve</button>
                    </form>
                    <form action="{% url 'reject_leave' leave_info.id %}" method="POST" style="display: inline;">
                        {% csrf_token %}
                        <button class="btn btn-danger" type="submit">Reject</button>
                    </form>
                    <a href="{% url 'leave_content' %}" class="btn btn-secondary">Back</a>
                </div>
            </div>
        </div>
    {% endblock %}

    